.modal {
  display: none;
}
.modal-view {
  display: block;
}

.add {
  position: fixed;
  left: 25%;
  border-radius: 0;
  margin-top: 5%;
}

.image {
  position: fixed;
  left: 25%;
  margin-top: 10%;
  margin-left: 0;
  display: none;
}

.image-view {
  position: fixed;
  left: 25%;
  margin-top: 10%;
  margin-left: 0;
  display: block;
  background: white;
}
.t1 {
  position: fixed;
  left: 45%;
  margin-top: 10%;
  margin-left: 0;
  display: block;
  width: 180px;
  height: 180px;
  border: 2px solid black;
  border-radius: 25%;
  background: white;
}

.t2 {
  position: fixed;
  left: 60%;
  margin-top: 10%;
  margin-left: 0;
  display: block;
  width: 500px;
  height: 180px;
  border: 2px solid black;
  border-radius: 40px;
  background: white;
}

.buttons {
  position: absolute;
  right: 0;
}

.form {
  display: inline-block;
}

.second-view {
  display: block;
}

.second {
  display: none;
}
